//
// Variables
// --------------------------------------------------


// Typography

$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$headings-font-weight: 800;

// Glyphicons

$icon-font-path: '../fonts/';
